{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LED</title>
  <meta name="description" content="Program LEDs">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/jscolor.js' %}?v=00007"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
My array is <input type="number" id="xPixels" value=8> pixels wide and <input type="number" id="yPixels" value=8> pixels tall.
<div id="array">


</div>


  

</body>
</html>