input.jscolor {
	width: 50px;
	height: 50px;
}
#array {
	width: 600px;
	height: 600px;
	position: relative;
	top:.5in;
	left:50%;
	transform: translate(-50%,0%);
	border: solid 2px black;

	

}
body {
	text-align: center;
}
input.